section.main-content {
    max-width: 95%;
    padding: 0rem 0rem;
    margin: 1rem 1rem;
}

.main-content nav#SIDEBAR::before {
    content: "List of Data Models";
}

.main-content nav#SIDEBAR ul {
    font-weight: bold;
}


/* XXX is there a better way of doing this? */
.main-content nav#SIDEBAR ul ul {
    font-weight: normal;
}

.main-content table h2 {
    all: unset;
}

.main-content table th, .main-content table td {
    padding: 0.2rem 0.5rem;
    vertical-align: top;
}

p.subtitle {
    font-style: italic;
}
