---
---

@import "{{ site.theme }}";

a.button {
background: -webkit-linear-gradient(top, #8dc26f, #76b852);
padding: 2ex;
margin: 1ex;
color: white;
text-decoration:none;
}

section.main-content {
  max-width: 80rem;
}

section.page-header {
  background-color: #79c041;
  background-image: linear-gradient(120deg, #333333, #333333);
}
