---
---

@import "{{ site.theme }}";

a.button {
background: -webkit-linear-gradient(top, #8dc26f, #76b852);
padding: 2ex;
margin: 1ex;
color: white;
text-decoration:none;
}

section.main-content {
  max-width: 100%;
}

section.page-header {
  /* these are from TOOLS-166 */
  background-color    : #135056;
  background-image    : linear-gradient(120deg, #135056, #135056)
}
